gjs-controller > div.gjs-controller {
	 
	position: fixed;
	top: 0;
	left: 0;
	z-index: 20;
	height: 100vh;
	width: 100vw;
	overflow: hidden;
	background: #fff url("img/logoRG.png") no-repeat center center / 90vw;
	
	.landscape & {
		background-size: 90vh;
	}
	
	&.loading {
		
		&:before {
			z-index: 9999;
		}
		
		&:after {
			background: url("components/layer/home/img/background.svg") center/cover;
			content: " ";
			display: block;
			height: 100%;
			width: 100%;
			position: absolute;
			top: 0;
			left: 0;
			z-index: 9990;
		}
	}
}
